@tailwind base;
@tailwind components;
@tailwind utilities;

.section {
  display: grid;
  align-content: center;
}

@media (min-width: 768px) {
  .sticky {
    width: 100%;
    position: fixed;
    top: 0;
    transition: all 0.2s;
  }

  .rounded-navbar {
    margin-top: 2rem;
    margin-bottom: -3rem;
    border-radius: 2% / 45%;
    width: 80%;
    transition: all 0.2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}